@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a002b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a002b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--background) var(--background); 
}

.chat-bubble {
  position: relative;
}

.chat-bubble::after {
  content: "";
  position: absolute;
  background: #fff;
  bottom: -5px;
  width: 10px;
  height: 10px;
  transform: rotate(48deg) skew(5deg);
}

.chat-bubble--right::after {
  right: 15px;
}

.chat-bubble--left::after {
  left: 15px;
}
